<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <a href="/"><img src="/logo.png" alt="boston university logo"></a>        
        <h1>CS602 HW2 Okoa Kinsey</h1>
        <a href="/addEmployee">add employee</a>
        <hr>
        {{{body}}}
    </body>
</html>
