<h2>Employees with the last name {{lastname}}</h2>

<ol>
    {{#each selectedEmployee}}
        <li class='name'>
            {{this.firstName}} {{this.lastName}}
        </li> 
    {{/each}}
</ol>


