<h2>New Employee</h2>
<h4>Add New Employee</h4>
    <form action="/addEmployee" method="post">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName"><br>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text " name="lastName">
        </div>
        <button>send</button>
    </form>
